<?xml version="1.0" encoding="UTF-8"?>
<configuration>
 
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <layout class="ch.qos.logback.classic.PatternLayout">
      <Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</Pattern>
    </layout>
  </appender>
   
  <appender name="FILE" class="ch.qos.logback.core.FileAppender">
  	<file>MyLog.log</file> 
<!--        MyLog.log will save in the installation folder in production
        can input full path C:\\Users\\Guillaume Jolly\\Dropbox\\Trampo\\IT\\Code\\Gui\\TrampoProcess\\lib\\MyLog.log
        In testing, should save to trampoProcess root folder
        LOG.trace("Hello World!");   Use of development?
        LOG.debug("How are you today?"); Information that is diagnostically helpful
        LOG.info("I am fine."); Generally useful information to log (service start/stop, configuration assumptions, etc). Info I want to always have available but usually don't care about under normal circumstances.
        LOG.warn("I love programming."); Anything that can potentially cause application oddities, but for which I am automatically recovering.
        LOG.error("I am programming."); Any error which is fatal to the operation, but not the service or application (can't open a required file, missing data, etc.)
        
        
        -->
  	<layout class="ch.qos.logback.classic.PatternLayout">
    	<Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</Pattern>
  	</layout>
  </appender>
   
  <logger name="trampoprocess" level="TRACE"/>
   
 
  <root level="debug">
    <appender-ref ref="STDOUT" />
  </root>
</configuration>