<?xml version="1.0" encoding="UTF-8"?>
<configuration>
 
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <layout class="ch.qos.logback.classic.PatternLayout">
      <Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</Pattern>
    </layout>
  </appender>
   
  <appender name="FILE" class="ch.qos.logback.core.FileAppender">
  	<file>MyLog.log</file> 
        MyLog.log will save in the installation folder in production
        can input full path C:\\Users\\Guillaume Jolly\\Dropbox\\Trampo\\IT\\Code\\Gui\\TrampoProcess\\lib\\MyLog.log
        In testing, should save to trampoProcess root folder
  	<layout class="ch.qos.logback.classic.PatternLayout">
    	<Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</Pattern>
  	</layout>
  </appender>
   
  <logger name="trampoprocess" level="TRACE"/>
   
 
  <root level="debug">
    <appender-ref ref="STDOUT" />
  </root>
</configuration>